* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    color: white;
}

.mailerlite-container {
    text-align: left;
    max-width: 400px; /* Keep it clean */
    margin-top: 20px;
}

.mailerlite-wrapper {
    /* REMOVE this width limitation */
    width: auto;
}

.video-bg {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.desktop-version {
    display: block;
}
.mobile-version {
    display: none;
}

h1 {
   font-size: 3.5em;
}
h2 {
    font-size: 3;
}
p {
    font-family: "Alegreya Sans", sans-serif;
}
.header-wrapper {
    font-family: "Syncopate", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2em;
    height: 100vh;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.2rem;
    }
    .desktop-version {
        display: none;
    }

    .mobile-version {
        display: block;
    }
    .overlay {
        background: rgba(0, 0, 0, 0.4); /* Optional: darken video for text contrast */
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}